<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key='dvdRomDriveLetter' value='J'/>
    <add key='pathToNetworkMedia' value='M:\Media\'/>
    <add key='pathToMediaForRip' value='D:\Media'/>
  </appSettings>
</configuration>